@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto&display=swap');

.carouseldisplayframe {
    border-radius: 20px;
    width: 80%;
    max-width: 80%;
    height: 500px;
    max-height: 80vh;
    margin-top: -70px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    z-index: -22;
    caret-color: transparent;
    font-family: 'Lato', sans-serif;
}

.HomepageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    min-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 9px;
    height: 400px;
    margin-top: 50px;
}
 
.carouseldisplayframe::-webkit-scrollbar {
    display: none;
} 

.LeftArrow {
    position: absolute;
    left: 1%;
    padding-left: 2px;
    padding-right: 2px;
    font-size: xx-large;
    color: #aabbcc;
    z-index: 2;
    cursor: pointer;
}

.LeftArrow:hover {
    color: #bbccdd;
}

.LeftArrow:active {
    color: #206ebd;
}

.RightArrow {
    position: absolute;
    right: 1%;
    padding-left: 2px;
    padding-right: 2px;
    font-size: xx-large;
    color: #aabbcc;
    z-index: 2;
    cursor: pointer;
}

.RightArrow:hover {
    color: #bbccdd
}

.RightArrow:active {
    color: #206ebd
}

.Container {
    position: relative;
    display: flex;
    vertical-align: middle;
    overflow: hidden;
    width: 100%;
    align-items: center;
}

.CarouselItem {
    height: 100%;
    width:1440px;
    min-width: 1440px;
    display: inline-block;
    transition: all 500ms linear;
}

.CarouselItem img {
   margin-left: auto;
   margin-right: auto;
   margin-top: 70px;
}

.Navigation {
    position: absolute;
    width: 1440px;
    min-width: 1440px;
    justify-content: center;
    display: flex;
    top: 457px;
    margin-left: auto;
    margin-right: auto;
    
}

.PositionIndicator {
    box-sizing: border-box;
    width: 29px;
    height: 29px;
    border: 1px solid #000000;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.PositionIndicator:hover{
    background: #ffffff;
}

.PositionIndicator:active{
    background-color: #000000;
    
}

.CurrentPosition {
    border: 1px solid #030303;
    background: #080808;
}

.QouteButton{
    border: 4px solid rgb(0, 0, 0);
    border-radius: 16px;
    background-color: black;
    color: #fff;
    width: 287px;
    padding: 7px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;

}

.NavLink {
    text-decoration: none;
}

.NavLink:visited {
    color: #fff;
}

.ExistingQouteButton{
    border: 1px solid rgb(0, 0, 0);
    background-color: #fff;
    border-radius: 16px;
    width: 287px;
    padding: 12px;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    cursor: pointer;
}

.OurPolicies {
    border-bottom: 2px solid;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    margin-top: 20px;
}

.ButtonWrapper{
    position: absolute;
    right: 12%;
    padding: 20px;
    margin-top: 80px;
    font-family: 'Lato' ,sans-serif;

}

.DropdownWrapper {
    position: absolute;
    top: 410px;
    min-width: 454px;
    max-width: 660px;
    margin-left:700px ;
    height: 10px;
    

}

.DropDownMenu {
    /* position: absolute; */
    min-width:240px;
    max-width:240px;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 110px;
    margin-right: auto;
}

.DropDownMenu input {
    height: 40px;
    min-width: 90%;
    border-radius: 10px;
    margin-top: -10px;
    border: 1px solid ;
    padding-left: 30px ;
}

.DropDownMenu p {
    font-size: 15px;
    border-bottom: 1px solid;
}

.DropDownMenu button {
    background-color: #000000;
    color: #fff;
    font-weight: 40px;
    font-size: 20px;
    height: 60px;
    width: 180px;
    margin-left: 30px;
    border-radius: 20px;
    cursor: pointer;
}