@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);

body{
    background:white;
}

.footer{
    width:1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    


}

.row{
    width: auto;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between; 
    min-width: 800px;
}

.col{
    flex-basis: 15%;
    padding: 10px;
}
.col p {
    color: #4B5563;
}
.col .p2 {
    padding-bottom: 15px;
}

.logo{
    width: 185px;
    margin-bottom: 5px;
}

.col h3{
    width: fit-content;
    position: relative;
    font-size: 20px;
    font-weight: 500;
}


.form{
    display:flex;
}

.col ul li{
    list-style: none;
    margin-bottom: 12px;
    position: relative;
}


.col ul li a{
    text-decoration: none;
    color:#4B5563;
}

.col ul li a:hover {

    text-decoration: underline;
    cursor: pointer;
}

.col ul .company {
    padding-bottom: 7px;
    font-size: 18px;
    color: black;

}


col.ul .companya {
    color: black;
}



.form{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;

}
.form i{
    font-size: 25px;
    padding-right: 5px;

}

.form input{
    width:100%;
    font-size: 15px;
    background: transparent;
    color: darkslategray;
    border: 0;
    outline: none;
}

.form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.socialmedia .sociallogo {
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding: 0.5em 0.60em;
    font-size: 17px;
    background: #888;
    color: white;
    cursor: pointer;


}
.socialmedia i {
    padding-right: 15px;
}